.cart__container {
  background-color: rgb(44, 38, 51);
  color: white;
  height: 150px;
  border: 1px solid rgba(168, 167, 167, 0.979);
  padding: 20px;
  margin-top: 15px;
}

.stic {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.listItem {
  background-color: white;
  color: black;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
}
